.routes-wrapper {
	position: absolute;
	width: 100%;
	height: 100%;
}

.cxd-Layout-headerBar {
	display: block !important;
}

.login-page-container {
	position: absolute;
	width: 100vw;
	height: 100vh;
}

.card {
	height: 320px;
	background-color: white;
}

.forms-inputs {
	position: relative
}

.forms-inputs span {
	position: absolute;
	top: -18px;
	left: 10px;
	background-color: #fff;
	padding: 5px 10px;
	font-size: 15px
}

.forms-inputs input {
	height: 50px;
	border: 2px solid #eee
}

.forms-inputs input:focus {
	box-shadow: none;
	outline: none;
	border: 2px solid #000
}

.btn {
	height: 50px
}

.success-data {
	display: flex;
	flex-direction: column
}

.bxs-badge-check {
	font-size: 90px
}

/* 自定义 label 颜色扩展 */
.label-purple {
	background-color: #9b59b6;
	color: #fff;
}

.label-orange {
	background-color: #e67e22;
	color: #fff;
}

.label-pink {
  background-color: #ee97e2;
  color: #fff;
}

.label-magenta {
	background-color: #e91e8c;
	color: #fff;
}

.label-teal {
	background-color: #1abc9c;
	color: #fff;
}

.label-dark {
	background-color: #34495e;
	color: #fff;
}

.label-cyan {
	background-color: #00bcd4;
	color: #fff;
}

.label-lime {
	background-color: #8bc34a;
	color: #fff;
}

.label-brown {
	background-color: #795548;
	color: #fff;
}

.label-pale-blue {
  background-color: #5454b2;
  color: #fff;
}